<h1>Create Course</h1>

<%= form_for(@course) do |f| %>
  <div>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %><br>
    <%= f.label(:start_date) %>
    <%= f.date_select(:start_date) %><br>
    <%= f.label(:end_date) %>
    <%= f.date_select(:end_date) %><br>
    <%= f.label(:description) %><br>
    <%= f.text_area(:description) %>
  </div>
  <div>
    <%= f.submit('Save Course') %>
  </div>
<% end %>

<%= link_to 'Cancel', courses_path %>
