<h1><%= @course.name %></h1>

<h3>Description</h3>
<p><%= @course.description %></p>

<ul>
  <li>
    <strong>Start Date: </strong><%= @course.start_date.strftime('%b %d, %Y') %>
  </li>
  <li>
    <strong>End Date: </strong><%= @course.end_date.strftime('%b %d, %Y') %>
  </li>
</ul>

<%= link_to 'Back', courses_path %>
